body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
    
}
.name{
    color: orange;
}
.half-width{
    width: 40%;
    margin-left: 5%;
    float: left;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
}